.App {
    height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.4em;
}

.dark {
    background-color: var(--color-highlight-medium);
    color: var(--color-font-light);
}
.dark a {
    color: var(--color-link-light);
}
.dark a:hover {
    color: var(--color-link-light-hover);
}

.content {
    background-color: var(--color-bg-content);

    color: var(--color-font-dark);
}

#hackathon_headline {
    height: 150px;
}

/* mobile */
@media screen and (max-width: 800px) {
    .main {
        flex-direction: column;
    }

    #hackathon_headline {
        height: 100px;
    }
}

/* desktop */
@media screen and (min-width: 800px) {
    :root {
        --left-margin: 250px;
    }
    .header {
        margin-left: var(--left-margin);
    }

    .navbar {
        min-width: var(--left-margin);
    }
    .footer {
        margin-left: var(--left-margin);
    }
}

.main {
    flex-grow: 1;
    display: flex;
}

.content {
    flex-grow: 1;
    padding-left: 1em;
}

.header {
    padding-left: 1em;
}
