
.App {
    height: 100vh;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-left: .4em;
}


#hackathon_headline {
    height: 150px;
}

/* mobile */
@media screen and (max-width: 800px) {
    .main {
        flex-direction: column;
    }

    #hackathon_headline {
        height: 100px;
    }
}

/* desktop */
@media screen and (min-width: 800px) {
    :root {
        --left-margin: 250px;
    }
    .header {
        margin-left: var(--left-margin);
    }

    .navbar {
        min-width: var(--left-margin);
    }
    .footer {
        margin-left: var(--left-margin);
    }
}

.main {
    flex-grow: 1;
    display: flex;
}


.content {
    flex-grow: 1;
}
