body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    background: url("../public/i6Gwmg1AXEdgi5sAiG4H_8x.jpg") no-repeat fixed center / cover;
    color: #def;
}

a {
    color: #afc6ff;
}

body::before {
    content: "";
    position: fixed;
    inset: 10vh 10vw;
    background-color: hsl(184deg 32% 8% / 96%);
    background-attachment: fixed;
}

#root {
    position: absolute;
    inset: 11vh 11vw;
    overflow: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
