body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100vw;
    height: 100vh;
    background: url("../public/i6Gwmg1AXEdgi5sAiG4H_8x.jpg") no-repeat fixed center / cover;
    color: #def;
    line-height: 160%;
}

a {
    color: #afc6ff;
}

body::before {
    content: "";
    position: fixed;
    inset: 0 10%;
    background-color: hsl(184deg 32% 8% / 94%);
    background-attachment: fixed;
}

#root {
    position: absolute;
    inset: 0 11%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 2rem;
}
