body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-image: url("../public/FOqBsr8HXbW32h7h0boN.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 60% 66%;
}

#root {
  position: absolute;
  inset: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page {
  background-color: hsl(184deg 32% 8% / 92%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
}

.page__background, .page__content {
  background: transparent;
}
